/*Student:Danmrk Mutai*/
/*CSS syle*/

html {
  background: url(../img/triangle.gif);
  background-repeat: no-repeat;
  background-size: cover; 
}
#most {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #ffffff;
}
#start {
  font-family: BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue';
  font-size: 17px;
  color: #ffffff;
}
.go {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}
button {
  background-color: aquamarine;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
}
input {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 5px 35px;
}
address {
  color: beige;
}
.not {
  font-weight: bold;
}
@media (min-width: 200px) {
p {
  font-size: 17px;
}
}
